.header{width:1000px;height:250px;border:0px solid red;margin-left:180px;background-color:yellow}
			.logo{width:300px;height:230px;margin-top:10px;border:0px solid green;float:left;background-image:url("images/download.png");background-repeat:no-repeat;background-position:top center}
			
			.mono{width:690px;height:230px;margin-top:10px;border:0px solid green;float:left;}
			.mono h1{color:orange;font-size:100px;padding-left:50px;background-color:yellow;margin-top:0px;margin-bottom:0px}
			.mono h2{color:white;font-size:50px;padding-left:50px;background-color:red;margin-top:0px;margin-bottom:0px}
			.mono p{color:green;font-size:30px;background-color:yellow;margin-top:0px}